<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        
        <!-- Menu -->
  
        {% include 'include/sidebar.html' %}
        <!-- / Menu -->
  
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
  
          {% include 'include/header.html' %}
  
          <!-- / Navbar -->
  
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            
          
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> </span>  Social Managment list</h4>
              <a href="{% url 'global_social_register' %}" style="text-align:right;" class="btn rounded-pill btn-success">Add social accounts</a>
  
              
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success'%}
                <div class="alert alert-success">
                    {{message}}
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
  
              <!-- Basic Bootstrap Table -->

              <div class="card">
  
                <h5 class="card-header">  social data</h5>
                <div class="table-responsive text-nowrap">
                <table class="table table-light">
                              
              <thead>
               
                <tr>
                  <th style="padding-left: 41;font-size: 16;"> Name</th>
                  
                  <!-- <th>Users</th> -->
                  <th class="" style="padding-left: 170px;font-size: 16;">Image </th>
                  <th style="padding-right: 523;font-size: 16;"> URL</th>
                  <th style="font-size: 16;">Actions</th>
                  

                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for i in socialdata %}
                
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{i.name}}</strong></td>
                  <td><img src="{{i.image.url}}" alt="{{i.image}}" style="width: 25%;margin-left: 135;"></td>
                  <td>{{i.url}}</td>
                  
                  <!-- <td>
                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                      <li
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        class="avatar avatar-xs pull-up"
                        title="Lilian Fuller"
                      >
                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                      </li>
                      <li
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        class="avatar avatar-xs pull-up"
                        title="Sophia Wilkerson"
                      >
                        <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                      </li>
                      <li
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        class="avatar avatar-xs pull-up"
                        title="Christina Parker"
                      >
                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                      </li>
                    </ul>
                  </td> -->
                
                 
                    <!-- <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);"
                          ><i class="bx bx-edit-alt me-1"></i> Edit</a
                        >
                        <a class="dropdown-item" href="javascript:void(0);"
                          ><i class="bx bx-trash me-1"></i> Delete</a
                        >
                      </div>
                      
                      
                      
                      
                    </div> -->
                    <td>
                        <a href="{% url 'global_social_edit' i.slug %}" class="btn rounded-pill btn-success" style="margin-bottom: 22; margin-top: 1%;">Edit</a>
                        <a href="{% url 'global_social_delete' i.id %}" class="btn rounded-pill btn-danger" style="margin-bottom: 22; margin-top: 1%;">Delete</a>
                        <a href="{% url 'global_social_view' i.slug %}" class="btn rounded-pill btn-primary" style="margin-bottom: 22; margin-top: 1%;">View</a>
      
                        <!-- <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);"
                              ><i class="bx bx-edit-alt me-1"></i> Edit</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              ><i class="bx bx-trash me-1"></i> Delete</a
                            >
                          </div>
                        </div> -->
                      </td>
                  </td>
                </tr>
                {% endfor %}
            
              </tbody>
                 
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
           
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
  
      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    </div>
    </div>
    <!-- / Layout wrapper -->
  
  </body>
  
  
    <!-- / Content -->
  
    <!-- Footer -->
   
    <!-- / Footer -->
  
   
  